.page-template-front {

  // Page header
  #front-hero {
    margin-top: 0;

  }

  // Section divider
  .section-divider {
    @include grid-row();

    hr {
      @include grid-column(12);
      @extend .dotted;
      box-sizing: border-box;
    }
  }

  & section > section {
   margin-bottom: rem-calc(45);
 }
}