.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}
.newsletter-submit {
  @include button(false, $primary-color, $primary-color, $primary-color, 'hollow');

}