.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  color: #999;
  padding: 0.25rem 0;
}

p.wp-caption-text{
  font-size:90%;
  color: #666;
  padding:rem-calc(10) 0;
}

.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.subheader {
  a {
    color: $subheader-color;
    font-weight:bold;
  }
}
time {
  color: $primary-color;
  font-weight: bold;
  font-size: rem-calc(18);
}

a {
  transition:.5s;
}

img.logo {
  height: rem-calc(80);
}
.button {
  &.section {
    margin-top: rem-calc(55);
  }
  &.read-more {
    margin-top: rem-calc(25)
  }
  font-weight: bold;
}

.article-wrap {
  padding-bottom: rem-calc(35);
}

.attachment-sp-cl-ag-feature {
  margin-bottom: rem-calc(20);
}

.sidebar {
  .widget {
    margin-bottom: rem-calc(40);
  }
}
#footer {
  .widget {
    color: $white;
  }
}

body > div.listings-height > div.results > div:nth-child(2) {
    margin-bottom: rem-calc(20);
    border: 1px solid $primary-color !important;
    border-radius: $global-radius;
  }

.margin-top {
  margin-top: rem-calc(20);
}

.pagination {
  li {
    &.current a {
      color: $white;
    }
    a {
      color: $primary-color;
      &:hover {
        background: transparent;
      }
    }
    border: 1px solid $primary-color;

  }
}